html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  width: 100%;
  height: 100vh;
}

/* Marker dot */
.marker-dot {
  width: 18px;
  height: 18px;
  background-color: #ff5252;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}

/* InfoWindow styling */
.info-window {
  font-family: Arial, sans-serif;
  padding-right: 25px;
}

.close-btn {
  position: absolute;
  right: -8px;
  top: -8px;
  background: #ff5252;
  border: none;
  color: white;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  cursor: pointer;
  font-weight: bold;
  font-size: 12px;
}

.modal-overlay {
  position: absolute;
  top: 50px;
  right: 10px;
  background: white;
  border: 1px solid #ddd;
  padding: 16px;
  z-index: 99999
}

.search-overlay {
  /* Positioning the search bar */
  position: absolute;
  top: 10px; 
  left: 0; 
  width: 100%; 
  z-index: 1000;
  
  display: flex;
  justify-content: center; 
  flex-direction: column;
  align-items: center;
  gap: 8px; 
}

/* Styling Search Bar Container */
.club-search-container {
  display: flex;
  flex-direction: column;
  
  max-width: 400px; 
  width: 90%; 
  
  background: transparent;
  padding: 0; 
}

.search-form {
  /* Visual bar */
  display: flex;
  align-items: center;
  padding: 0; 
  width: 100%; 
  
  /* Style form like a clean input box */
  background-color: white; 
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow for floating effect */
}

.search-form input {
  flex-grow: 1;
  padding: 10px 12px;
  border: none;
  background: transparent;
  outline: none; 
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
}

.search-form button {
  padding: 10px 12px;
  background-color: transparent;
  color: #333;
  border: none;
  cursor: pointer;
  transition: background-color 0.1s;
  flex-shrink: 0; 
  border-left: 1px solid #eee; /* Light separator */
}

.search-form button:hover {
  background-color: #f0f0f0; /* Slight gray hover effect */
}

/* Styling Search Result */
.search-result {
  /* Position results below main search bar */
  width: 50%; /* <-- Ensures it spans full width of search form */
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  /* Floating Box Style */
  background: white; 
  padding: 12px 15px;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15); 
  border-top: 2px solid #646cff; /* Highlight bar */
  
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  color: #213547;
}